@import './styles/MainSection.css';
@import './styles/AboutSection.css';

html {
  height: 100%;
  overflow: auto;
}

body {
  font-family: "Unna", serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-image: url('/public/assets/images/pexels-karolina-grabowska-4466461.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
